.git
.gitignore
.env*
**/.env*
data/
backups/
gee_confs/
**/.pyc
**/__pycache__
**/*.pyo
.installation_state
IITD_setup_scripts
zoi_fix
ubuntu@geoserver.core-stack.org
*.7z
*.zip
docs/**/*.pdf
static
logs
tmp
.venv
miniconda.sh
