.git
.gitignore
**/.pyc
**/__pycache__
**/*.pyo
.installation_state
IITD_setup_scripts
zoi_fix
ubuntu@geoserver.core-stack.org
data/admin-boundary
data/excel_files
*.7z
*.zip
docs/**/*.pdf
static
logs
tmp
.venv
miniconda.sh
